@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(78, 133, 138);
    background: linear-gradient(NaNdeg, rgba(78, 133, 138, 1) 20%, rgba(100, 162, 167, 1) 75%);
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #47d052;
    padding: 40px;
  }
  
  nav {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
  }
  nav h1 {
    color: #000009;
    font-size: 24px;
    float: left;
    margin-top: -10px;
    /* justify-content: flex-start; */
    /* display: inline-block; */
    font-family: 'Playfair Display', serif;
  }
  
  nav ul {
    list-style: none;
    /* justify-content: flex-end; */
    float: right;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 15px;
    
  }
 
  nav .fa-bars {
    display: none;
    color: #333;
    font-size: 30px;
    cursor: pointer;
    float: right;
  }
  nav .fa-bars:hover {
    color: #fff;
    transform: scaleX(1.5);
    transform: translateY(3px);
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .fa-times {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    font-size: 36px;
    margin-left: 30px;
    cursor: pointer;
  }
  .overlay-content a {
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    font-size: 20x;
    color: rgb(78, 133, 138);
    display: block;
    transition: 0.3s;
  }
  .overlay-content a:hover,
    .overlay-content a:focus {
        color: #333;
    }

  .hero {
    /* background-color: #f9f9f9; */
    padding: 100px 0;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .hero p {
    margin-bottom: 20px;
  }
   
  .features h3 {
    margin-top: -10px;
  }
  .feature {
    margin-bottom: 20px;
  }
  .container h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  .feature h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
  }
  .btn:hover {
    background-color: #47d052;
    transform: translateY(3px);
  }

  .form-control {
    width: 80%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
  }
  footer {
    background-color: #47d052;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    nav ul li {
      display: none;
    }
    nav .fa-bars {
      display: block;
    }
   
  
    .hero h2 {
      font-size: 28px;
    }
  
    .btn {
      padding: 8px 16px;
    }
    footer {
      padding: 10px;
    }
  }
  