body {
    background-color: #07077A;
    color: #FFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 32px;
    margin-top: 20px;
    margin-left: 20px;
}
header {
    display: flex;
    justify-content: space-between;
}
.navigation {
    margin-top: 20px;
    text-align: right;
    margin-right: 20px;
}

.navigation a {
    color: #FFF;
    text-decoration: none;
    margin-left: 20px;
}

.form-container {
    margin-top: 40px;
}

.form-container input {
    width: 80%;
    height: 30px;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

.form-container button {
    padding: 10px 30px;
    font-size: 18px;
    background-color: #FFF;
    color: #07077A;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 70%;
}

